[Unit]
Description=An in memory static file SCGI webserver

[Service] 
ExecStart=/usr/local/bin/why -f /etc/why/conf.lua
ExecReload=/bin/kill -HUP $MAINPID
Type=notify-reload
StandardOutput=append:/var/log/why.log
StandardError=append:/var/log/why-error.log

[Install]
WantedBy=multi-user.target

